body {
    background-color: #ff8f66;
}
h1 {
    color: #FFF;
    text-align: center;
}  
.middles {
    padding: 10px;
    margin-left: 300px;
    margin-right: 300px;
    text-align: center;
    font-size: 25px;
    color: #3c1000;
}
