body {
    background-color: #2e3440;
    margin: 50px;
}
div {
    margin-left: 100px;
    margin-right: 100px;
}
h1 {
    text-align: center;
    /*color: #eceff4;*/
    color: #5e81ac;
}
h2, h3 {
    color: #5e81ac;
}
ul, ol {
    color: #eceff4;
}
ul, ol > li {
    color: #88c0d0;
}
a {
    color: #88c0d0;
}
a:hover {
    color: #a3be8c;
}
a:active {
    font-size: 14px;
}
dt {
    color: #88c0d0;
    padding: 5px;
}



.purple { 
    color: #b48ead;
}
.red {
    color: #bf616a;
}
.grey {
    color: #c2c2c2;
}
.green {
    color: #a3be8c;
}
.yellow {
    color: #ebcb8b;
}
.orange {
    color: #d08770;
}
