body {
    background-color: #2e3440;
    margin: 50px;
}
div {
    margin-left: 100px;
    margin-right: 100px;
}
h1 {
    text-align: center;
    color: #eceff4;
}
h2, h3 {
    color: #5e81ac;
}
ul, ol {
    color: #eceff4;
}
ul, ol > li {
    color: #88c0d0;
}
a {
    color: #88c0d0;
}
a:hover {
    color: #a3be8c;
}
a:active {
    font-size: 14px;
}

